:root {
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --dark-background-color: #171A1F;
    --background-color: #FFFFFF;
    --white-text-color: #FFFFFF;
    --accent-color: #FF5E28;
    --form-border-color: #B8B8B8;
    --secondary-white-color: #EBEBEB;
    --hero-items-background-color: rgba(255, 255, 255, 0.1);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    height: auto;
}

address {
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.logo {

    width: 40px;
    height: 40px;
    background-color: #FF5E28;
}

.header {
    background-color: var(--dark-background-color);
}

.header-container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__list {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navigation {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 24px;
}

.header__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-white-color);
}

.header__link--current {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--white-text-color);
}

.header__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    min-width: 160px;
    margin-left: auto;
    color: var(--white-text-color);
    background: var(--accent-color);
}

.section__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: calc(56 / 40);
}

.section__sup-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--secondary-text-color);
}

.section__sup-title--white-text {
    color: var(--secondary-white-color);
}

.section__description {
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--secondary-text-color);
}

.section__description--white-text {
    color: var(--secondary-white-color);
}

.hero__title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(72 / 56);
    color: var(--white-text-color);
    margin-bottom: 24px;
}

.hero {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: var(--dark-background-color);
}

.hero-container {
    display: flex;
    align-items: center;
}

.hero__main-container {
    width: 560px;
    display: flex;
    flex-direction: column;
}

.hero__main-container .section__sup-title {
    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 16px;
}

.hero__main-container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/hero-icon.svg');
    content: "";
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.hero__main-container .section__description {
    margin-bottom: 32px;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero__list {
    display: flex;
    margin-bottom: 24px;
}

.hero__item {
    display: flex;
    padding: 8px 12px;
    background-color: var(--hero-items-background-color);
}

.hero__item:not(:last-child) {
    margin-right: 8px;
}

.hero__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-white-color);
}

.hero__links {
    display: flex;
}

.hero__link:not(:last-child) {
    margin-right: 16px;
}

.hero__works-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 12);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 178px;
    padding: 8px 40px;
    color: var(--white-text-color);
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.hero__pricing-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 12);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 192px;
    padding: 8px 40px;
    color: var(--white-text-color);
    background: transparent;
    border: 1px solid var(--secondary-white-color);
}

.hero__img {
    width: 424px;
    height: 560px;
}

.reasons {
    display: inline-flex;
    position: relative;
    margin-left: 112px;
    padding-right: auto;
}

.reasons__list {
    display: flex;
}

.reasons__item {
    min-width: 208px;
    height: 80px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}

.text-box {
    display: flex;
    flex-direction: column;
}

.icon-box {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--accent-color);
}

.reasons__item:nth-child(1) {
    position: absolute;
    top: 15%;
    right: 70%;
}

.reasons__item:nth-child(2) {
    position: absolute;
    top: 56%;
    left: 60%;
}

.reasons__item:nth-child(3) {
    position: absolute;
    top: 80%;
    right: 62%;
}

.reasons__count {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
}

.reasons__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.what-we-do__container {
    display: flex;
    align-items: center;
}

.what-we-do__container .section__sup-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.what-we-do__container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/favorite.svg');
    content: "";
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.what-we-do__container .section__title {
    margin-bottom: 16px;
}

.what-we-do__description {
    margin-bottom: 24px;
}

.what-we-do__main-container {
    display: flex;
    flex-direction: column;
}

.what-we-do__list {
    display: flex;
    flex-direction: column;
    margin-left: 112px;
}

.what-we-do__item {
    min-width: 464px;
    min-height: 124px;
    display: flex;
    align-items: baseline;
    padding: 16px;
}

.what-we-do__item:not(:last-child) {
    margin-bottom: 8px;
}

.what-we-do__item:nth-child(2) {
    background: var(--background-color);
    box-shadow: 0px 56px 104px rgba(0, 0, 0, 0.15);
}

.what-we-do__services-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 8px 40px;
    border: 1px solid var(--secondary-text-color);
    color: var(--primary-text-color);
    background: transparent;
}

.what-we-do-item__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
    margin-bottom: 4px;
}

.what-we-do-item__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.about {
    background-color: var(--accent-color);
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 56px;
    line-height: calc(72 / 56);
    text-align: center;
    color: var(--white-text-color);
    margin-bottom: 80px;
}

.about__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    border: 1px solid var(--secondary-white-color);
    color: var(--white-text-color);
    background: transparent;
    margin-top: 80px;
}

.why-us__main-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 112px;
}

.why-us__item {
    display: flex;
    align-items: baseline;
}

.why-us__item:not(:last-child) {
    margin-bottom: 24px;
}

.why-us__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
    margin-bottom: 4px;
}

.why-us__container .section__title {
    margin-bottom: 16px;
}

.why-us__description {
    margin-bottom: 24px;
}

.why-us__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.why-us__images-container {
    width: 464px;
    display: flex;
}

.why-us__images-item:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 24px -8px rgba(34, 60, 80, 0.41);
}

.why-us__images-item:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 15%;
    box-shadow: 4px 4px 24px -8px rgba(34, 60, 80, 0.41);
}

.why-us__container {
    position: relative;
    display: flex;
    align-items: center;
}
.why-us__container .section__sup-title {
    display: flex;
    margin-bottom: 16px;
}

.why-us__container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/leaderboard.svg');
    content: "";
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__container .section__title {
    margin-bottom: 16px;
}

.portfolio__container .section__sup-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.portfolio__container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/donut.svg');
    content: "";
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.portfolio__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
}

.portfolio__description {
    margin-bottom: 80px;
}

.portfolio__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-bottom: 80px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 40px);
    margin-left: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 24px -8px rgba(34, 60, 80, 0.41);
    height: 510px;
}

.portfolio__item .text-box {
    padding-top: 16px;
    border-top: 1px solid var(--secondary-white-color);
    padding: 8px;
}

.portfolio__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.portfolio__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 197px;
    padding: 8px 40px;
    border: 1px solid #666666;
    background: transparent;
    color: var(--primary-text-color);
}

.testimonials__container .section__sup-title {
    display: flex;
    margin-bottom: 16px;
}

.testimonials__container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/leaderboard.svg');
    content: "";
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.testimonials__container .section__title {
    margin-bottom: 16px;
}

.testimonials__container .section__description {
    margin-bottom: 80px;
}

.reviews__list {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 32px);
    padding: 24px;
}

.reviews__item:nth-child(2) {
    box-shadow: 0px 56px 104px rgba(0, 0, 0, 0.15);
}

.quotes-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotes {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 64px;
    line-height: calc(80 / 64);
    color: var(--form-border-color);
}

.reviews__text {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(32 / 16);
    margin-bottom: 16px;
}

.reviews__name {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(32 / 16);
}

.reviews__company {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.contact-us {
    background-color: var(--dark-background-color);
}

.contact-us__container .section__sup-title {
    display: flex;
    margin-bottom: 16px;
}

.contact-us__container .section__description {
    margin-bottom: 24px;
}

.contact-us__container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/mail.svg');
    content: "";
    width: 32px;
    height: 32px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.contact-us__title {
    margin-bottom: 16px;
}

.contact-us__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin-right: 112px;
}



.contact-us__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 56px;
    line-height: calc(72 / 56);
    color: var(--white-text-color);
}

.contact-us__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 173px;
    padding: 8px 40px;
    background: var(--accent-color);
    color: var(--white-text-color);
}

.footer {
    background-color: var(--dark-background-color);
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social__list {
    display: flex;
    justify-content: center;
}

.footer-box:not(:last-child) {
    margin-right: 48px;
}

.footer__text {
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--secondary-white-color);
}

.footer-links__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--white-text-color);
}

.footer-links__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--white-text-color);
}

.address__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-white-color);
}

.subscribe__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 8px 32px;
    color: var(--white-text-color);
    background: var(--accent-color);
}

.subscribe__input {
    font-size: 12px;
    line-height: calc(24 / 12);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--secondary-white-color);
    color: var(--form-border-color);
    background: transparent;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1152px;
    padding-left: 8px;
    padding-right: 8px;
}

.footer__container  {
    display: flex;
}
