:root {
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --dark-background-color: #171A1F;
    --background-color: #FFFFFF;
    --white-text-color: #FFFFFF;
    --accent-color: #FF5E28;
    --form-border-color: #B8B8B8;
    --secondary-white-color: #EBEBEB;
    --hero-items-background-color: rgba(255, 255, 255, 0.1);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.logo {

    width: 40px;
    height: 40px;
    background-color: #FF5E28;
}

.header {
    background-color: var(--dark-background-color);
}

.header-container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__list {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navigation {
    display: flex;
}

.header__item:not(:last-child) {
    margin-right: 24px;
}

.header__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-white-color);
}

.header__link--current {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--white-text-color);
}

.header__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    min-width: 160px;
    margin-left: auto;
    color: var(--white-text-color);
    background: var(--accent-color);
}

.section__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: calc(56 / 40);
}

.section__sup-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--secondary-text-color);
}

.section__sup-title--white-text {
    color: var(--secondary-white-color);
}

.section__description {
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--secondary-text-color);
}

.section__description--white-text {
    color: var(--secondary-white-color);
}

.hero__title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(72 / 56);
    color: var(--white-text-color);
    margin-bottom: 24px;
}

.hero {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: var(--dark-background-color);
}

.hero-container {
    display: flex;
    align-items: center;
}

.hero__main-container {
    width: 560px;
    display: flex;
    flex-direction: column;
}

.hero__main-container .section__sup-title {
    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 16px;
}

.hero__main-container .section__sup-title::before {
    display: inline-block;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../images/icons/hero-icon.svg');
    content: "";
    width: 24px;
    height: 24px;
    background-position: 50% 50%;
    margin-right: 8px;
}

.hero__main-container .section__description {
    margin-bottom: 32px;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero__list {
    display: flex;
    margin-bottom: 24px;
}

.hero__item {
    display: flex;
    padding: 8px 12px;
    background-color: var(--hero-items-background-color);
}

.hero__item:not(:last-child) {
    margin-right: 8px;
}

.hero__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-white-color);
}

.hero__links {
    display: flex;
}

.hero__link:not(:last-child) {
    margin-right: 16px;
}

.hero__works-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 12);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 178px;
    padding: 8px 40px;
    color: var(--white-text-color);
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.hero__pricing-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 12);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 192px;
    padding: 8px 40px;
    color: var(--white-text-color);
    background: transparent;
    border: 1px solid var(--secondary-white-color);
}

.hero__img {
    width: 424px;
    height: 560px;
}

.reasons {
    display: inline-flex;
    position: relative;
    margin-left: 112px;
    padding-right: auto;
}

.reasons__list {
    display: flex;
}

.reasons__item {
    min-width: 208px;
    height: 80px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-color);
}

.reasons__text-box {
    display: flex;
    flex-direction: column;
}

.reasons__box {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--accent-color);
}

.reasons__item:nth-child(1) {
    position: absolute;
    top: 15%;
    right: 70%;
}

.reasons__item:nth-child(2) {
    position: absolute;
    top: 56%;
    left: 60%;
}

.reasons__item:nth-child(3) {
    position: absolute;
    top: 80%;
    right: 62%;
}

.reasons__count {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
}

.reasons__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.what-we-do__services-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 196px;
    padding: 8px 40px;
    border: 1px solid var(--secondary-text-color);
    color: var(--primary-text-color);
    background: transparent;
}

.what-we-do-item__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
}

.what-we-do-item__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.about {
    background-color: var(--accent-color);
}

.about__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 56px;
    line-height: calc(72 / 56);
    text-align: center;
    color: var(--white-text-color);
}

.about__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    border: 1px solid var(--secondary-white-color);
    color: var(--white-text-color);
    background: transparent;
}

.why-us__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
}

.why-us__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.portfolio__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 24);
}

.portfolio__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.portfolio__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 197px;
    padding: 8px 40px;
    border: 1px solid #666666;
    background: transparent;
    color: var(--primary-text-color);
}

.reviews__text {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(32 / 16);
}

.reviews__name {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(32 / 16);
}

.reviews__company {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}

.contact-us {
    background-color: var(--dark-background-color);
}

.contact-us__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 56px;
    line-height: calc(72 / 56);
    color: var(--white-text-color);
}

.contact-us__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(32 / 16);
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 173px;
    padding: 8px 40px;
    background: var(--accent-color);
    color: var(--white-text-color);
}

.footer {
    background-color: var(--dark-background-color);
}

.footer__text {
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--secondary-white-color);
}

.footer-links__title {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(32 / 16);
    color: var(--white-text-color);
}

.footer-links__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--white-text-color);
}

.address__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--secondary-white-color);
}

.subscribe__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 8px 32px;
    color: var(--white-text-color);
    background: var(--accent-color);
}

.subscribe__input {
    font-size: 12px;
    line-height: calc(24 / 12);
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--secondary-white-color);
    color: var(--form-border-color);
    background: transparent;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1152px;
    padding-left: 8px;
    padding-right: 8px;
}

.about__container .section__sup-title {
    
}